<a *ngIf="link; else simpleCard" class="mini-card" [routerLink]="link">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<ng-template #simpleCard>
  <span class="mini-card">  
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
</ng-template>


<ng-template #content>
  <ng-container *ngIf="isArray(icon); then arrayImg; else simpleImg"></ng-container>
  <ng-template #arrayImg>
    <div class="flex gap-4 items-center">
      <ng-container *ngFor="let item of $any(icon); let last = last">
        <img width="20px" height="20px" alt="" aria-hidden="true" class="mini-card-svg" [src]="'/assets/svg/' + item + '.svg'">
        <span *ngIf="!last" class="font-semibold"> + </span>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #simpleImg>
  <img width="20px" height="20px" alt="" aria-hidden="true" class="mini-card-svg" [src]="'/assets/svg/' + icon + '.svg'">
  </ng-template>
  <h3 class="text-center">{{title}}</h3>
  <p class="mini-card-content">
    <ng-content></ng-content>
  </p>
  <app-link *ngIf="link" [link]="link">En savoir plus</app-link>
</ng-template>