<section class="grid w-11/12 mx-auto lg:grid-cols-2 lg:grid-rows-1 grid-rows-[auto_auto] my-10 gap-10 items-start pb-0">
  <nav app-breadcrumbs ></nav>
  <app-image-gallery
    [images]="images"
    [(selectedImage)]="selectedImage">
  </app-image-gallery>
  <article class="flex flex-col gap-y-4 sticky top-10">
    <h1 class="font-bold text-xl">Hashimoto - Comment dompter la maladie</h1>
    <p class="text-sm mb-0"><b>Type : </b> Ebook </p>
    <p class="text-sm mt-0"><b>Tarif : </b> 29,90 € </p>

    <p> Tu trouveras :</p>

    <ul>
      <li>❇️ Des indications pour <strong>équilibrer ton assiette</strong></li>
      <li>❇️ <strong>Les aliments</strong> à consommer en PRIORITÉ et ceux à éviter</li>
      <li>❇️ <strong>Des recettes gourmandes</strong> et faciles à réaliser</li>
      <li>❇️ <strong>L'astuce INDISPENSABLE</strong> pour améliorer <strong>ton bien être</strong> rapidement</li>
      <li>❇️ Un test pour savoir si tu souffres d'<strong>intestin poreux</strong></li>
    </ul>

    <p>Et.... en BONUS</p>

    <ul>
      <li>✅ <strong>Les compléments alimentaires NÉCESSAIRES</strong> pour équilibrer ta <strong>thyroïde</strong></li>
    </ul>

    <p>Si tu souhaites :</p>

    <ul>
      <li><strong>✨ Améliorer ton bien être</strong></li>
      <li><strong>✨ Soutenir ta digestion</strong></li>
      <li><strong>✨ Perdre du poids</strong></li>
      <li><strong>✨ Diminuer la fatigue</strong></li>
      <li><strong>✨ Optimiser ton sommeil</strong></li>
      <li><strong>✨ Atténuer tes douleurs</strong></li>
      <li class="mt-4">Ou tout simplement… <strong>Prendre soin de ton corps</strong> 🌟</li>
    </ul>

    <p>Ce e-book est fait pour <span class="font-bold text-primary text-xl">toi !</span></p>


    <iframe titre="Module d'achat du e-book" src="https://www.payfacile.com/celine-naturopathe/si/le-guide-alimentaire" frameBorder="no" width="100%" height="700px" scrolling="no" ></iframe>
  </article>
</section>
