<h2>Votre naturopathe à {{ville | titlecase}}</h2>
<section class="white-section ">
  <blockquote>
    <p>
      <em>
        <strong>
          Prenez rendez-vous avec un(e) naturopathe à  {{ville | titlecase}} pour optimiser votre santé et
          votre bien-être, grâce à des méthodes naturelles.
        </strong>
      </em>
    </p>
  </blockquote>
  <p>Les français sont de plus en plus nombreux à s’intéresser à leur <strong>bien-être</strong> et aux <strong>méthodes
    naturelles</strong> pour y parvenir.  {{ville | titlecase}} ne fait pas exception, et le bien-être est de plus en
    plus ancré dans les habitudes des {{habitant}}, quelle que soit sa forme (sport, massage, nutrition,
    cryothérapie etc.). Ces préoccupations grandissantes font émerger des métiers jusqu’alors peu
    représentés comme <strong>Naturopathe</strong> ou Sophrologue. Et elles donnent un nouveau souffle à
    d’autres professions telles que Homéopathe ou Acupuncteur/trice. Face à la diversité des spécialités
    et au nombre de praticiens installés à  {{ville | titlecase}}, trouver le bon praticien peut parfois s’avérer
    complexe.</p>
  <p><strong>On vous a conseillé de consulter un naturopathe à  {{ville | titlecase}} mais vous n’êtes pas sûr de
    savoir
    concrètement ce que vous pourriez en tirer ? Vous avez récemment emménagé à  {{ville | titlecase}} et vous ne
    savez
    pas
    comment choisir votre naturopathe ? </strong></p>
  <p>Découvrez ici tout ce que vous avez besoin de savoir avant de prendre rendez-vous avec un naturopathe à
    {{ville | titlecase}}.</p>
  <p class="my-6">
    <a [routerLink]="['/contact']" class="button">Prendre rendez-vous</a>
  </p>
</section>

<section class="light-section">
  <h3 class="-mt-px">Votre naturopathe à {{ville | titlecase}}</h3>

  <h4>Prendre rendez-vous dans mon <strong>cabinet à Blain</strong></h4>
  <address>2 Rue du Berry - 44130 Blain</address>
  <h4>Prendre rendez-vous en visio</h4>
  <p>Pas toujours simple de concilier les emplois du temps professionnel, familial et personnel ! Vous avez 1h30 de
    libre après votre dernier rendez-vous de boulot et avant d’aller chercher le petit dernier à la crèche, mais ce
    n’est pas suffisant pour faire l’aller-retour chez <strong>un naturopathe</strong> ? C’est l’avantage de la
    consultation de
    <strong>naturopathie en visio</strong> : pour vous permettre de profiter de votre fenêtre de temps libre pour
    <strong>prendre soin de vous et
      de votre santé depuis chez vous ou au bureau à {{ville | titlecase}}</strong>.</p>
</section>

<section class="white-section">
  <h3 class="-mt-px">Qu’est-ce qu’un(e) naturopathe ?</h3>
  <p>On reconnait un bon naturopathe à 3 critères au minimum :</p>

  <app-deroulement [steps]="steps"></app-deroulement>

  <p>Avec l’expérience, chaque naturopathe développe une expertise dans certaines méthodes et outils, en
    fonction de ses affinités et des problématiques qu’il rencontre le plus souvent.</p>
</section>

<section class="light-section">
  <h3 class="-mt-px">Que soigne votre naturopathe ?</h3>
  <p>Le naturopathe accompagne les personnes sur tous les sujets liés, de près ou de loin (en apparence !),
    à leur santé et à leur bien-être :</p>
  <h4><strong>Les
    déséquilibres</strong></h4>
  <p>Ceux qu’on ne qualifie généralement pas de maladie, mais qui&nbsp;
    vous empêchent de vivre un quotidien serein : troubles du sommeil, anxiété, inconforts digestifs,
    fatigue persistante, sensibilité aux infections, allergies, … entre autres ! Le naturopathe vous
    aide à identifier la ou les causes pouvant potentiellement être à l’origine de ces déséquilibres
    dans votre cas. Et il vous propose un protocole en naturopathie pour y remédier.</p>
  <h4><strong>Les étapes de la
    vie</strong></h4>
  <p>Naissance, croissance, adolescence, conception, grossesse et
    post-partum, ménopause / andropause, … Le naturopathe vous accompagne pour préparer et vivre au
    mieux toutes les transitions naturelles de la vie.</p>
  <h4><strong>Les maladies</strong></h4>
  <p>Diagnostiquées par un médecin, telles que les maladies auto-immunes,
    les maladies chroniques, les cancers, l’arthrose, etc.&nbsp; Dans ce cas le naturopathe travaille
    toujours en complémentarité avec le médecin pour vous proposer des solutions naturelles permettant
    de ralentir voir arrêter le développement de la maladie, et/ou soulager votre quotidien en diminuant
    l’inconfort et les douleurs.</p>
  <h4><strong>Les événements</strong></h4>
  <p>Préparation d’examens ou de compétition sportive, décès d’un proche,
    transition vers un régime végétarien ou végétalien, … Aux transitions naturelles s’ajoutent des
    événements de toutes sortes qui génèrent du stress et demandent sans cesse à l’organisme de
    s’adapter. Le naturopathe vous accompagne aussi pour traverser ces événements en douceur.</p>

  <h4>Les blessures</h4>
  <p>Chute lors d’une pratique sportive, accident dans le cadre du travail
    ou des loisirs, … Le naturopathe vous propose un accompagnement pour soulager la douleur et
    favoriser un retour à la santé durable.</p>
  <h4>Quand tout va bien</h4>
  <p>Et que l’on veut faire le point de temps en temps, pour anticiper et
    se maintenir en bonne santé le plus longtemps possible.</p>
  <p>Certaines problématiques demandent plusieurs rendez-vous
    espacés de 2 semaines à 2 mois, alors que d’autres nécessitent un seul rendez-vous.&nbsp; Chaque suivi
    est unique.</p>
  <p><strong>Le naturopathe, c’est un éducateur de
    santé qui vous accompagne à travers toutes les étapes de votre vie, via des rendez-vous plus ou
    moins fréquents en fonction des événements.</strong> <strong>C’est donc essentiel de trouver le bon
    naturopathe à  {{ville | titlecase}}, pour vous !</strong></p>
  <p>L’accompagnement du naturopathe est souvent individuel et prend place dans le cadre de
    consultations en cabinet ou en visio. Mais on peut aussi découvrir la naturopathie
    via des ateliers collectifs. Ces ateliers thématiques sont un moyen ludique de découvrir la
    naturopathie sous un certain angle, avant d’envisager une éventuelle consultation pour
    l’approfondir.
  </p>
</section>

<section class="white-section">
  <h3 class="-mt-px">Quelques exemples de sujets à aborder avec votre naturopathe</h3>
  <h4><strong>Gestion du stress</strong></h4>
  <p>Le stress, notamment lorsqu’il est chronique, peut être à l’origine de <strong>symptômes</strong>
    <strong>physiques, émotionnels et comportementaux</strong> désagréables, voire de maladies. La
    naturopathie dispose de nombreux outils simples et naturels pour aider à mieux gérer son stress. On
    retrouve notamment la <strong>phytothérapie, l</strong>’<strong>aromathérapie, la micronutrition, la
      réflexologie plantaire et endonasale, les techniques de respiration, etc.</strong> Après un bilan
    complet, le naturopathe vous proposera les outils les plus adaptés dans votre situation.</p>
  <h4><strong>Gestion du poids</strong></h4>
  <p>La gestion du poids n’est <strong>pas qu’une simple question de rééquilibrage alimentaire</strong>.
    Elle est également souvent associée à d’autres f<strong>acteurs hormonaux, digestifs ou
      émotionnels </strong>venant perturber l’équilibre du poids. Le rôle du naturopathe consiste à analyser
    les multiples causes des dysfonctionnements métaboliques perturbant votre gestion du poids. A partir de
    son analyse, il vous accompagne dans la mise en place de <strong>solutions efficaces naturelles pour un
      rééquilibrage durable</strong>.</p>
  <h4><strong>Allergies</strong></h4>
  <p>Les allergies sont très courantes puisqu’on estime qu’elles toucheraient près de 15% des personnes.
    Celles-ci sont le résultat d’une <strong>hypersensibilité de l’organisme à une substance « normale
      »</strong>, provoquant donc une réponse inadaptée du <strong>système immunitaire</strong>. Cette
    dernière peut être corrigée en profondeur avec l’aide du naturopathe qui dispose d’une palette d’outils
    pour prévenir et soigner les allergies :<strong> alimentation, micronutrition, huiles essentielles,
      oligothérapie</strong> … Entre autres.</p>
  <h4><strong>Troubles digestifs</strong></h4>
  <p>
    Intolérances alimentaires, ballonnements, transit perturbé, maux de ventre, … sont extrêmement courants
    dans la population. En naturopathie nous accordons une attention particulière au système digestif car on
    sait qu’il est <strong>en lien direct avec notre cerveau et notre immunité</strong>. Le naturopathe vous
    guide pour adopter <strong>une alimentation adéquate</strong> facilitant une digestion sereine, et
    mettre en place <strong>des solutions naturelles pour corriger les désordres digestifs sur le
    long-terme.</strong>
  </p>
  <h4><strong>Fatigue persistante</strong></h4>
  <p>Fatigue physique ou morale, nervosité, irritabilité, … Voire parfois un épuisement qui n’est pas
    amélioré même avec l’impression de s’être reposé ? Nos rythmes effrénés peuvent parfois conduire à un
    épuisement de nos ressources nerveuses, et dans ce cas il est difficile de remonter la pente. Le
    naturopathe prend en compte vos habitudes de vie dans leur globalité et vous propose <strong>des
      solutions naturelles </strong> <strong>pour améliorer votre sommeil, votre énergie et vos
      sensations.</strong> Son éventail doutils va<strong> de l’alimentation à la réflexologie en passant
      par la micronutrition ou la phytothérapie</strong>, par exemple.</p>
  <h4><strong>Blessure</strong></h4>
  <p>Tendinites, douleurs articulaires, maux de dos, sciatiques, contractures, … La blessure, chez tout
    sportif régulier, est un événement éprouvant physiquement et moralement car elle perturbe un certain
    équilibre personnel. Le naturopathe vous accompagne pour <strong>favoriser une guérison saine et
      prévenir les rechutes, grâce à une palette d’outils naturels</strong> qu’il mobilise en fonction de
    votre contexte : alimentation, micronutrition, huiles essentielles, etc. Son accompagnement se
    positionne souvent en complémentarité de l’ostéopathe ou du kinésithérapeute.</p>
  <p><em><strong>Le naturopathe n’est pas un médecin et ne
    pose pas de diagnostic. Les conseils donnés par votre naturopathe ne remplacent pas une consultation
    médicale, mais ils peuvent être un complément idéal.</strong></em></p>
</section>

<section class="light-section">
  <div class="flex justify-center h-48 items-end">
    <a
      aria-label=" (s’ouvre dans un nouvel onglet)"
      class="button"
      rel="noreferrer noopener"
      routerLink="/contact"
      target="_blank">
      {{buttonText}}</a>
  </div>
</section>
