<section class="light-section-double">
  <article>
    <h1 class="text-3xl font-bold underline">
      <img src="assets/img/logo.png" alt="Céline CHRABIE Naturopathe" class="logo">
    </h1>
    <div class="wrapper">
      <div class="flex items-center mb-3">
        <mat-icon class="mr-2 text-primary">phone_iphone</mat-icon>
        <a href="tel:+33610830253"
           class="text-with-hover text-bold text-primary">
          06 10 83 02 53</a>
      </div>
      <div class="flex items-center mb-3">
        <mat-icon class="mr-2 text-primary">mail_outline</mat-icon>
        <a href="mailto:celinechrabie@outlook.com"
           class="text-with-hover text-bold text-primary">
          celinechrabie@outlook.com</a>
      </div>
      <div class="flex items-center mb-3">
        <mat-icon class="mr-2 text-primary" svgIcon="pin"></mat-icon>
        <address class="mb-0"> 2 Rue du Berry - 44130 Blain</address>
      </div>
      <div class="flex items-center mb-3">
        <mat-icon class="mr-2" svgIcon="instagram"></mat-icon>
        <a href="https://www.instagram.com/celine_naturopathie_44/" target="_blank" class="text-with-hover text-bold text-primary">@celine_naturopathie_44</a>
      </div>
      <div class="flex items-center">
        <mat-icon class="mr-2" svgIcon="facebook"></mat-icon>
        <a href="https://www.facebook.com/celinenaturopathie.naturopathie" target="_blank" class="text-with-hover text-bold text-primary">@Céline Naturopathie</a>
      </div>
    </div>
  </article>
</section>
