<div class="w-4/5 mx-auto mb-8">
  <h2>Mentions légales</h2>

  <p>
    Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il
    est
    précisé aux utilisateurs du site Céline CHRABIE l'identité des différents intervenants dans le cadre de sa
    réalisation
    et de son suivi.
  </p>

  <h3>

    Edition du site
  </h3>
  <p>

    Le présent site, accessible à l’URL www.bien-avec-sa-thyroide.com (le « Site »), est édité par :
  </p>
  <p>

    Céline CHRABIE, résidant 2 rue du Berry 44130 Blain, de nationalité Française (France), né(e) le 11/05/1989,
  </p>

  <h3>

    Hébergement
  </h3>
  <p>

    Le Site est hébergé par la société Hostinger International LTD, situé , (contact téléphonique ou email :
    https://www.hostinger.fr/contact).
  </p>
  <h3>

    Directeur de publication
  </h3>
  <p>

    Le Directeur de la publication du Site est Joël CHRABIE.
  </p>

  <p>
    Nous contacter

  </p>
  <ul>
    <li>Par téléphone : +33610830253</li>
    <li>Par email : chrabieceline&#64;outlook.fr
    </li>
    <li>Par courrier : 2 rue du Berry 44130 Blain
    </li>
  </ul>
</div>
