section {
  @apply p-0 flex-col bg-no-repeat bg-bottom pb-32 -mt-1;
  background-size: 100%;
  min-height: 400px;
  background-position: 0 calc(100% + 1px);

  &.white-section {
    background-image: url(/assets/svg/wave.svg);
  }

  &.light-section {
    background-image: url(/assets/svg/wave-white.svg);
    @apply bg-secondary-light;
  }
}
