<section class="white-section pt-10">
  <h2>Comment la naturopathie peut aider ma thyroïde ?</h2>
  <p>La glande thyroïde jour un un rôle capital dans notre santé. Elle mesure près de 4 cm de large et 3 cm de haut.
    Constituée de deux lobes latéraux séparés par un isthme, elle ressemble à un beau papillon. Elle est située à la
    base du cou et on l’associe souvent à l’expression orale, au chant, à la créativité et au chakra de la gorge.
    Découvrez comment prendre soin de votre thyroïde avec la naturopathie.
  </p>
  <div class="flex justify-center">
    <a [routerLink]="['/rendez-vous']" class="button" fragment="naturo">
      Je prends rendez-vous !</a>
  </div>
</section>
<section class="light-section">
  <h3 class="mt-0">Pourquoi la thyroïde est si importante ?</h3>
  <p>La thyroïde est une glande endocrine synthétisant&nbsp; et libérant dans la circulation sanguine des hormones
    iodées. Les deux principales sont la thyroxine communément appelée T4, hormone inactive et qui se transforme en
    tri-iodothyronine, plus connue sous le nom de T3 qui est l’hormone active.</p>
  <p>Ces hormones participent à un grand nombre de réactions chimiques permettant entre autre le développement mental,
    le renouvellement osseux, la consommation de l’oxygène par toutes les cellules de l’organisme. Par ailleurs, elle
    sont également impliquées dans la régulation de la température corporelle et stimule l’ensemble du système
    endocrinien.<br> Toutes ces réactions sont indispensables à la vie et au maintien de l’intégrité du corps.</p>
  <h3>Comment la thyroïde peut-elle se dérégler&nbsp; ?</h3>
  <p>Les causes d’un quelconque déséquilibre thyroïdien sont nombreuses. Elles peuvent être d’origine virale, tumorale
    (adénome) ou dues à une malformation. Les carences et les maladies auto-immunes sont aussi des causes possibles
    tout comme la prise de certains médicaments ou de compléments alimentaires. Il peut y avoir un défaut de synthèse
    et/ou de sécrétion de l’hormone hypophysaire stimulant la sécrétion d’hormones thyroïdiennes.<br> Tous ces
    facteurs poussent la thyroïde soit à sécréter trop d’hormones et on parle d’hyperthyroïdie. Si elle n’en secrète
    pas assez, elle se trouve en sous-régime et on parle d’hypothyroïdie.</p>
  <p>Quels que soient les facteurs déclenchants, dans les deux cas, une thyroïde déréglée provoquent des effets
    indésirables plus ou moins importants sur l’ensemble de l’organisme.</p>
</section>
<section class="white-section">
  <h3>Comment freiner l’emballement de la thyroïde ?</h3>
  <p><em><strong><br> </strong></em>Une hyperthyroïdie peut se traduire par des déséquilibres à plusieurs niveaux :
    cardiaques avec des palpitation, nerveux avec une humeur instable et des états d’anxiété et d’agitation, ayant
    pour effet de perturber le sommeil. La digestion peut en pâtir également.</p>
  <p>En phytothérapie, plusieurs plantes sont intéressantes pour prendre en charge et accompagner l’hyperthyroïdie et
    les effets associés :</p>
  <ul>
    <li><strong>Le grémil</strong>&nbsp;(<em>Lithospermum officinalis</em>)qui agit au niveau hypophysaire en freinant
      naturellement la synthèse de l’hormone thyroïdienne.
    </li>
    <li><strong>L’aubépine&nbsp;</strong>(<em>Crataegus laevigata</em>) sera intéressante pour soulager les
      palpitations qui font partie des effets que provoque&nbsp;l’hyperthyroïdie telle
    </li>
    <li>La <strong>passiflore&nbsp;</strong>(<em>Passiflora incarnata</em>) <strong>et la
      valériane&nbsp;</strong>(<em>Valeriana officinalis</em>) sont recommandées pour les états anxieux et les
      déséquilibres du sommeil
    </li>
    <li>&nbsp;<strong>La</strong> <strong>mélisse</strong> (Melissa officinalis) quant à elle agira de façon globale,
      à la fois sur la sphère nerveuse mais aussi sur la sphère digestive.<br> Certains bourgeons sont aussi
      intéressants pour calmer la thyroïde.
    </li>
  </ul>
</section>
<section class="light-section">
  <h3 class="mt-0">Comment soutenir une thyroïde paresseuse ?</h3>
  <h4>Par l’alimentation</h4>
  <p>L’alimentation est un levier primordial puisqu’il faut veiller à avoir un apport suffisant en iode, en zinc et
    sélénium mais également en autre micronutriments comme les vitamines et les antioxydants.<br> Dans ce cas, il est
    intéressant de consommer des produits de la mer car ils apporteront l’iode et tous les oligo-éléments nécessaires
    et indispensables à la synthèse des hormones thyroïdiennes. Pour l’apport en zinc, pensez au graines de courges
    qui en sont pourvues et pour le sélénium les noix du Brésil en sont riches.</p>
  <h4>Grâce aux plantes médicinales</h4>
  <p>Par ailleurs, les plantes médicinales sont cruciales, car elles vont agir sur différents sphères afin d’apporter
    un équilibre global et certain à la thyroïde.</p>
  <p>A noter que celle-ci est très liée aux glandes surrénales et qu’en cas où ces dernières sont “sur-sollicitées”
    par le stress, elles impactent directement la thyroïde en l’épuisant.<br> Les plantes dite “adaptogènes” ont ici
    une place de choix. l’<strong>ashwagandha</strong> (Withania somnifera) ainsi que le <strong>schisandra</strong>
    (Schisandra chinensis), aussi appelée “baie au cinq saveurs”, abaissent le taux de cortisol (hormone du stress).
    Un stress “dompté” permettra une meilleure récupération, un sommeil réparateur et une meilleure concentration.<br>
    Les bourgeons d’églantier sont des régulations naturels de la thyroïde.</p>
</section>
<section class="white-section">
  <h3 class="mt-0">5 conseils pour bichonner votre thyroïde</h3>
  <ol>
    <li><strong>Cuisiner et manger des aliments de saison et colorés</strong> afin d’apporter tous les micronutriments
      nécessaires pour la bonne synthèse des hormones (L-phénylalanine, L-tyrosine, sélénium, zinc notamment). Avoir
      un apport en huile de qualité équilibré en oméga 3, 6 et 9.
    </li>
    <li>Avoir un apport en <strong>produits marins</strong> comme les crustacés, les poissons, les algues comme les
      laminaires (riches en iode et autre minéraux assimilables).
    </li>
    <li><strong>Eradiquer les perturbateurs endocriniens</strong>.</li>
    <li><strong>S’éloigner de toutes sources de stress</strong> ou de ce qui peut en causer (relaxation, gestion du
      stress, massage, méditation)
    </li>
    <li><strong>S’exprimer</strong> et faire des activités (ré-)créatives.<br> <strong>Pratiquer une activité physique
      adaptée</strong> pour se détoxifier et faire des <strong>exercices de respirations</strong> offrant une
      meilleure oxygénation d’une part, mais aussi une sensation de détente comme la cohérence cardiaque ou la
      respiration alternée.
    </li>
  </ol>
  <p><em>NB : Ces conseils ne se substituent aucunement à un avis médical ni même à un quelconque traitement
    médicamenteux. L’automédication pourrait avoir bien plus d’effets indésirables que de bénéfices.&nbsp;</em></p>
</section>
<section class="light-section">
  <div class="flex justify-center h-48 items-end">
    <a [routerLink]="['/rendez-vous']" class="button big" fragment="naturo">
      Je prends rendez-vous !</a>
  </div>
</section>
