footer {
  @apply bg-secondary-lighter flex flex-col justify-center gap-x-20 gap-y-6 py-5 px-16;
  grid-template-rows: auto auto auto;
  margin-top: -1px;

  & > * {
    place-self: center;
  }

  @screen md {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }


  img {
    @apply w-20;

    @screen md {
      @apply w-28;
    }

    @screen lg {
      @apply w-32;
    }
  }

  ul:not(.votre-naturopathe) {
    @apply flex justify-between gap-12 mt-8;

    @screen md {
      @apply place-self-end mt-0;
    }

    &.horizontal {
      @apply flex-col gap-2 mt-2;
    }
  }

  .votre-naturopathe {
    @apply list-disc flex flex-col gap-x-8 gap-y-4 mt-8 justify-start mx-10 marker:text-secondary;

    @screen md {
      @apply justify-center flex-row flex-wrap;
    }
  }

  h3 {
    @apply font-bold;
  }

  a {
    @apply font-semibold;
    
    &:hover {
      @apply underline;
    }
  }
}
