<footer>
  <div class="flex md:flex-col md:justify-between md:gap-0 gap-12">
    <img src="assets/img/logo.png" alt="Céline CHRABIE Naturopathe" loading="lazy">
    <div>
      <p class="md:mt-4">
        <a href="tel:0610830253">06 10 83 02 53</a>
      </p>
      <address>
        2 Rue du Berry <br>44130 Blain
      </address>
    </div>
  </div>

  <ul>
    <li *ngIf="links.length">
      <h3>Site</h3>
      <ul class="horizontal">
        <li *ngFor="let link of links">
          <a [routerLink]="[link.type]" class="text-dark">{{link.name}}</a>
        </li>
      </ul>
    </li>

    <li>
      <h3>Legal</h3>
      <ul class="horizontal">
        <li>
          <a routerLink="/mention-legales">Mentions légales</a>
        </li>
        <li>
          <a routerLink="/politique-de-confidentialite">Politique de confidentialité</a>
        </li>
      </ul>
    </li>

  </ul>

  <div
    class="col-span-2 w-full flex justify-between pt-5 md:gap-32 gap-12 m-auto items-center border-t border-gray-300">
    <p>
      &copy; 2023 Céline Naturopathie. Tout droits réservés.
    </p>
    <p>Site réalisé par
      <a href="https://webster-dev.fr" class="text-bold text-accent" target="_blank"
         aria-label="Aller sur le site de webster" class="inline-block">
        <mat-icon svgIcon="webster" class="w-full"></mat-icon>
        <span class="sr-only">Webster</span>
      </a>
    </p>
  </div>
</footer>
