<footer>
  <div class="flex gap-12">
    <img width="60px" height="60px" alt="Céline CHRABIE Naturopathe" loading="lazy" src="assets/img/logo.png">
    <div>
      <p>
        <a href="tel:0610830253">06 10 83 02 53</a>
      </p>
      <address>
        2 Rue du Berry <br>44130 Blain
      </address>
    </div>
  </div>
  <div>
    <h2 class="custom-header text-center">Votre naturopathe spécialisée dans les troubles de la
      <strong class="text-primary">thyroïde</strong> sur <strong class="text-primary">Blain</strong> ou en <strong class="text-primary">visio</strong>.
    </h2>
  </div>

  <div
    class="col-span-2 w-full flex justify-between py-5 md:gap-32 gap-12 m-auto items-center border-t border-gray-600">
    <div class="text-sm">
      <p> &copy; 2023 Céline Naturopathie. Tout droits réservés.</p>
      <ul class="votre-naturopathe !m-0 pl-4">
        <li><a class="font-bold" routerLink="/mentions-legales">Mentions légales</a></li>
        <li><a class="font-bold" routerLink="/politique-de-confidentialite">Politique de confidentialité</a>
        </li>
        <li><a class="font-bold" routerLink="/accessibilite">Accessibilité : <span
          class="text-secondary-dark">partiellement conforme</span></a>
        </li>
      </ul>
    </div>
    <p class="text-sm">Site réalisé par
      <a class="font-bold text-primary-dark" href="https://webster-dev.fr" target="_blank">
        Webster
      </a>
    </p>
  </div>
</footer>
