footer {
  @apply bg-white grid gap-5 p-5;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;

  img {
    @apply w-20;

    @screen md {
      @apply w-28;
    }

    @screen lg {
      @apply w-32;
    }
  }

  ul {
    @apply flex gap-x-6 place-self-end mr-6;

    &.horizontal {
      @apply flex-col gap-2 mt-2;
    }
  }

  h3 {
    @apply font-bold;
  }

  a:hover {
    @apply underline;
  }
}
