<section class="grid w-11/12 mx-auto lg:grid-cols-2 lg:grid-rows-1 grid-rows-[auto_auto] my-10 gap-10 items-start pb-0">
  <nav app-breadcrumbs ></nav>
  <app-image-gallery
    [images]="images"
    [(selectedImage)]="selectedImage">
  </app-image-gallery>
  <article class="flex flex-col gap-y-4 sticky top-10">
  <h1 class="font-bold text-xl mb-0 flex flex-col">
    50 recettes fraîcheur
    <small class="text-green-700 font-medium inline-block">
      Des recettes fraîches, simples et adaptées à Hashimoto.
    </small>
  </h1>
  <p class="text-sm mb-0"><b>Type :</b> Ebook</p>
  <p class="text-sm mt-0"><b>Tarif :</b> 4,90 €</p>

  <p>
    <strong>50 recettes fraîcheur</strong> est un e-book conçu pour vous accompagner au quotidien lorsque vous vivez avec la maladie de
    <strong>Hashimoto</strong>. Retrouvez des recettes gourmandes, simples et rapides, de l'apéritif jusqu'au dessert, pour prendre soin de votre santé sans renoncer au plaisir.
  </p>

  <p>Vous y trouverez :</p>

  <ul>
    <li>❇️ Un voyage gourmand et rassurant, de l'apéritif jusqu'au dessert.</li>
    <li>❇️ Des recettes simples, rapides et pensées pour alléger votre charge mentale.</li>
    <li>❇️ Une alimentation qui aide à reprendre le contrôle sur Hashimoto.</li>
    <li>❇️ Des ingrédients sélectionnés pour offrir un véritable temps de repos à votre système immunitaire.</li>
    <li>❇️ Des actions concrètes pour retrouver votre énergie et vous sentir mieux au quotidien.</li>
  </ul>

  <p>
    Votre corps vous envoie des signaux, et chaque repas peut devenir soit une source d'inflammation supplémentaire, soit un véritable allié.
    Cet e-book vous aide à retrouver le plaisir de cuisiner tout en faisant des choix adaptés à vos besoins, sans frustration ni complexité.
  </p>

  <p>
    En choisissant les bons ingrédients, vous contribuez à apaiser l'inflammation de fond, à soutenir votre système immunitaire et à agir en douceur contre la fatigue chronique, le brouillard mental, les douleurs ou la prise de poids souvent associés à Hashimoto.
  </p>

  <p>
    Offrez à votre corps ce moment de répit et commencez à prendre soin de vous, une recette à la fois.
  </p>

    <iframe 
      title="Module sécurisé d'achat du e-book 50 recettes fraîcheur"
      src="https://www.payfacile.com/celine-naturopathe/si/50-recettes-fraicheur-ani-inflammatoire" 
      frameBorder="no"
      width="100%"
      height="700px"
      scrolling="no" 
    ></iframe>
  </article>
</section>
