<section class="mt-10">
  <h2>Prendre rendez-vous</h2>
  <article>
    <header>
      <div>
        <h3>Appel découverte <small>- 15 minutes</small></h3>
        <p>Gratuit</p>
      </div>
      <button (click)="decouverteToggle = !decouverteToggle">{{decouverteToggle ? 'Fermer le calendrier' : 'Je prend rendez - vous'}}</button>
    </header>
    <p>
      FACULTATIF : cet appel vous permet d'en savoir plus sur ce que la naturopathie peut vous apporter et le déroulé
      d'un accompagnement. Il ne vous engage pas à réserver une séance par la suite. Il ne constitue pas une consultation.
    </p>
    <app-calendar *ngIf="decouverteToggle" (openChanged)="decouverteToggle = $event"></app-calendar>
  </article>
  <article id="naturo">
    <header>
      <div>
        <h3>Scéance naturopatique <small>- 1h30</small></h3>
        <p>70€</p>
      </div>
      <button (click)="naturoToggle = !naturoToggle">{{naturoToggle ? 'Fermer le calendrier' : 'Je prend rendez - vous'}}</button>
    </header>
    <p>
      La naturopathie est une médecine non conventionnelle qui intervient idéalement en prévention. </p>
    <p>
      Reconnue par l’OMS comme la troisième médecine traditionnelle après les médecines traditionnelles chinoise
      et ayurvédique, elle permet grâce à des moyens naturels de préserver ou d’optimiser son capital santé, de
      gagner en qualité de vie.
    </p>
    <app-calendar
      *ngIf="naturoToggle"
      (openChanged)="naturoToggle = $event"
      calendarPath="naturopathie-reflexologie">
    </app-calendar>
  </article>
  <article id="reflexo">
    <header>
      <div>
        <h3>Réflexologie plantaire <small>- 1h</small></h3>
        <p>70€</p>
      </div>
      <button (click)="reflexoToggle = !reflexoToggle">{{reflexoToggle ? 'Fermer le calendrier' : 'Je prend rendez - vous'}}</button>
    </header>
    <p>
      La réflexologie est un massage des pieds d'origine chinoise.
    </p>
    <p>
      Selon une médecine chinoise anscestrale, chaque zone réflexe correspondrait à un organe, une glande ou une
      partie du corps qui se projetterait sur la plantedes pieds.
    </p>
    <p>
      Un toucher spécifique localise les tensions et les débloquent. Incroyablement détendant, cette
      technique active la circulation sanguine au niveau des pieds, effaçant les contraintes de la journée.
    </p>
    <app-calendar *ngIf="reflexoToggle" (openChanged)="reflexoToggle = $event" calendarPath="naturopathie-reflexologie"></app-calendar>
  </article>
</section>
