.grid-article {
  @apply flex justify-center items-center flex-col;

  @screen lg {
    @apply grid grid-cols-2;
  }
}

.photo-wrapper {
  @apply flex flex-col justify-center items-center gap-10;
}

.photo {
  @apply m-5 rounded-full w-1/2 justify-self-center relative max-w-xs;

  img {
    border-radius: 10rem 11rem 8rem 13rem;
    z-index: 1;
    position: relative;
  }

  &::before {
    content: ' ';
    @apply w-full h-full bg-primary top-4 right-4 absolute bg-opacity-80;
    border-radius: 10rem 11rem 8rem 13rem;
  }
}

.card-wrapper {
  @apply w-4/5 z-20 mx-auto grid gap-12 grid-cols-1 justify-center relative;

  li {
    @apply justify-self-center
  }

  h2 {
    @apply col-span-1;
  }

  @screen lg {
    @apply justify-between grid-cols-3 ;

    h2 {
      @apply col-span-3;
    }
  }
}
