article {
  @apply flex justify-center items-center flex-col;

  @screen lg {
    @apply grid grid-cols-2;
  }
}

.photo-wrapper {
  @apply flex flex-col justify-center items-center gap-10;
}

.quoted {
  @apply relative max-w-2xl text-lg text-justify mt-12;

  &:before, &:after {
    @apply h-8 w-8 block absolute text-secondary;
  }

  &:before {
    @apply content-quote-before -top-8 -left-8;
  }

  &:after {
    @apply content-quote-after -bottom-6 -right-6;
  }
}

.photo {
  @apply m-5 rounded-full w-1/2 justify-self-center relative max-w-xs;

  img {
    border-radius: 10rem 11rem 8rem 13rem;
    z-index: 1;
    position: relative;
  }

  &::before {
    content: ' ';
    @apply w-full h-full bg-primary top-4 right-4 absolute bg-opacity-80;
    border-radius: 10rem 11rem 8rem 13rem;
  }
}
