<app-layout>
  Je suis <strong>Céline</strong> et je vous
  accompagne pour retrouver un <strong>confort de vie</strong> en
  optimisant
  le fonctionnement de votre <strong>thyroïde</strong>.
</app-layout>
<section class="white-section mt-12">
  <article class="grid gap-10 md:grid-cols-3 !py-0 w-4/5 mx-auto mt-12 grid-article">
    <div class="photo-wrapper">
      <img width="600px" height="600px" alt="Photo du cabinet et de Céline Chrabié" src="assets/img/a_propos.png">
    </div>

    <div class="block p-6 bg-secondary-light rounded-lg shadow-xl">
      <h3>Mon parcours</h3>
      <p class="text-justify">
        Après avoir suivi un cursus de deux ans pour devenir <strong>naturopathe</strong>, 
        je me suis tournée vers les <strong>solutions naturelles et fondamentales</strong> 
        pour prendre soin de cette petite merveille qu'est la <strong>glande thyroïde</strong>.
      </p>
      <p class="text-justify">
        J'ai donc consacré mon mémoire à la maladie d'<strong>Hashimoto</strong>, 
        puis j'ai continué à me former en participant à des formations proposées par différents laboratoires,
        axées sur les <strong>troubles thyroïdiens</strong>, <strong>la maladie d'Hashimoto</strong> et les maladies auto-immunes en général.</p>
      <p class="text-justify">
        J'ai approfondi mes connaissances en consultant divers ouvrages. 
        Mes principales références incluent <strong>Izabella Wentz</strong>, <strong>le Dr. Benoît Claeys</strong>, le Dr. Résimont, le Dr. Cosserat,
        et d'autres experts renommés.
      </p>
      <p class="text-justify">
        Mon approche est résolument <strong>scientifique</strong> et s'oriente vers la médecine fonctionnelle.
        Je veille à garantir un <strong>apport nutritionnel optimal</strong> ainsi qu'un <strong>équilibre harmonieux</strong>
        entre le <strong>foie</strong>, les <strong>intestins</strong> et surtout les <strong>glandes surrénales</strong>, 
        qui entretiennent une relation étroite avec la <strong>thyroïde</strong>.</p>
    </div>
  </article>
  <article class="flex justify-center align-middle mt-10">
    <a  href="https://www.resalib.fr/praticien/80810-celine-chrabie-naturopathe-blain" target="_blank" class="button big">
      Je prends rendez-vous !</a>
  </article>
</section>

<section class="light-section">
  <article class="!py-0 w-4/5 mx-auto">
    <h3 class="relative mb-10 mt-0 pt-10">Où je consulte</h3>
    <p>Je vous accueille à <strong>Blain (44)</strong>, en cabinet, et propose également des <strong>consultations à distance</strong> (en visio), accessibles à toutes et tous, quel que soit votre lieu de résidence.</p>

    <h4>Consultations sur Blain et dans les villes alentours</h4>
    <p>Voici quelques-unes des communes où mes accompagnements en naturopathie sont particulièrement accessibles :</p>
   <ul>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Blain</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Nantes</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Redon</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Savenay</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Pontchâteau</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Nort-sur-Erdre</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Nozay</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Plessé</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Le Gâvre</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Bouvron</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>Fay-de-Bretagne</strong></li>
      <li><mat-icon class="text-primary">check</mat-icon> <strong>La Chevallerais</strong></li>
    </ul>


    <h4>Consultations en visio</h4>
    <p>Si vous habitez hors département ou si vous préférez éviter les déplacements, je propose des consultations en ligne via Zoom. Le suivi est tout aussi efficace, avec un accès facile à vos documents et protocoles personnalisés.</p>

    <h4>Spécialisation : Thyroïde</h4>
    <p>Je suis spécialisée dans l'accompagnement naturel des troubles de la thyroïde, notamment l’<strong>hypothyroïdie</strong> et la <strong>thyroïdite de Hashimoto</strong>. Mes outils : nutrition, plantes, gestion du stress, hygiène de vie.</p>

  </article>
</section>
  
<section class="white-section mt-12">
  <article class="!py-0 w-4/5 mx-auto">
    <h3 class="relative mb-20 mt-0 pt-10">
      Mes approches naturelles 
      <img width="60px" height="20px" alt="" aria-hidden="true" class="w-1/5 absolute -bottom-8" src="/assets/svg/souligne.svg">
    </h3>
    <ul class="card-wrapper">
      <li>
        <app-mini-card icon="hygiene" title="Hygiène de vie">
          La gestion du stress, l'activité physique ou encore les produits cosmétiques seront minutieusement pris en considération, car leur influence sur la 
          <strong class="text-primary">thyroïde</strong> est significative.
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="micro" title="Micro-nutrition">
          Les carences fréquemment observées dans le cas de la <strong class="text-primary">maladie d'Hashimoto</strong> 
          ont un impact défavorable sur le fonctionnement de la <strong class="text-primary">thyroïde</strong>.
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="hydro" title="Hydrothérapie">
          Que ce soit par l'optimisation de l'<strong class="text-primary">hydratation</strong> ou par l'application de
          l'<strong class="text-primary">argile verte</strong>, 
          ces méthodes favorisent une élimination en douceur des <strong class="text-primary">toxines</strong>. 
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="phyto" title="Phytothérapie">
          J'utilise les propriétés des <strong class="text-primary">plantes</strong> pour soutenir 
          le bon fonctionnement des <strong class="text-primary">organes</strong> ou pour corriger d'éventuels dysfonctionnements.
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="gemmo" title="Gémmothérapie">
          Tout comme la phytothérapie, la gemmothérapie se révèle être un allié précieux pour rétablir 
          l'<strong class="text-primary">équilibre fonctionnel</strong> ou soulager les <strong class="text-primary">symptômes</strong>.
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="aroma" title="Aromathérapie">
          Lors de <strong class="text-primary">dysbiose</strong>, de 
          <strong class="text-primary"><abbr title="Small Intestinal Bacterial Overgrowth" lang="en">SIBO</abbr></strong> 
          ou même de <strong class="text-primary">candidose</strong>, l'aromathérapie devient un outil précieux pour lutter contre 
          la prolifération bactérienne et rétablir l'équilibre.
        </app-mini-card>
      </li>
    </ul>
  </article>
</section>
<section class="light-section">
  <article class="!py-0 w-4/5 mx-auto">
    <h3 class="relative mb-20 mt-0">
      Les retours de mes consultants 
      <img width="60px" height="20px" alt="" aria-hidden="true" class="w-1/5 absolute -bottom-8" src="/assets/svg/souligne.svg">
    </h3>
    <ul class="card-wrapper">
      <li>
        <app-mini-card icon="fatigue" title="Diminution de la fatigue">
          <q>Je n'ai plus ce sentiment de fatigue que j'avais les après-midi.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="poids" title="Perte de poids">
          <q>Je commence enfin à perdre mes kilos en trop.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="transit" title="Amélioration du transit">
          <q>Je n'ai plus de balonnements, je vais à la selle tous les jours sans difficultés.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="douleur" title="Diminution des douleurs">
          <q>C'est vrai que mes douleurs musculaires se sont fortement atténuées.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="energie" title="Plus d'énergie">
          <q>J'ai l'impression d'avoir retrouvé mes vingt ans.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="stress" title="Diminution du stress">
          <q>J'arrive à plus relativiser, je me sens moins anxieuse.</q>
        </app-mini-card>
      </li>
    </ul>
  </article>
</section>