<app-layout>
 La maladie d'Hashimoto est une maladie du <strong>système immunitaire</strong>.
</app-layout>
<section class="white-section pt-10">
  <p>La <strong>thyroïdite d'Hashimoto</strong> est une condition complexe du <strong>système immunitaire</strong> qui mérite une attention particulière. Elle se manifeste par une <strong>réponse immunitaire</strong> excessive, où le corps attaque ses propres cellules thyroïdiennes en raison d'un <strong>déséquilibre lymphocytaire</strong>. Bien que la <strong>thyroïde</strong> puisse continuer à fonctionner correctement au début, elle peut voir progressivement ses fonctions diminuer en raison de cette attaque auto-immune.</p>

  <h3>Approche Naturopathique</h3>

  <p>Dans mon approche en tant que naturopathe, je prends en compte non seulement la santé de la <strong>thyroïde</strong>, mais aussi la gestion de l'<strong>inflammation</strong> et de l'<strong>activité immunitaire excessive</strong>. Il est essentiel de comprendre que la grande majorité de notre <strong>système immunitaire</strong> réside dans nos intestins. Par conséquent, nous explorons ensemble l'importance d'un <strong>équilibre intestinal optimal</strong>. Un intestin en bonne santé est crucial pour apaiser le système immunitaire et minimiser les réponses auto-immunes.</p>

  <h3>Importance de la Santé Intestinale</h3>

  <p>Il est important de noter que la thyroïdite d'Hashimoto est associée à divers problèmes intestinaux, notamment l'<strong>hyperperméabilité intestinale</strong>, la <strong>dysbiose</strong>, le <strong>SIBO</strong> (Syndrome de l'Intestin Irritable), l'<strong>hypochlorhydrie</strong>, un <strong>manque d'enzymes digestives</strong> et même une <strong>déficience du gène FUT2</strong>. Tous ces éléments doivent être pris en compte pour favoriser un <strong>fonctionnement intestinal optimal</strong> et contribuer à la gestion de la thyroïdite d'Hashimoto.</p>

  <h3>Comment puis-je vous aider ?</h3>
<p>Si vous souffrez de la <strong>thyroïdite d'Hashimoto</strong> ou si vous avez des préoccupations concernant votre <strong>santé thyroïdienne</strong>, n'hésitez pas à me contacter. Je suis là pour vous fournir des conseils personnalisés et des solutions naturelles pour <strong>améliorer votre bien-être</strong> et gérer votre condition de manière efficace.</p>

<ul>
  <li class="ml-2 flex items-center">
    <mat-icon class="text-secondary">check</mat-icon>
    <strong>Conseils alimentaires&nbsp;</strong>adaptés à la thyroïdite d'Hashimoto
  </li>
  <li class="ml-2 flex items-center">
    <mat-icon class="text-secondary">check</mat-icon>
    Stratégies pour réduire l'<strong>inflammation</strong>
  </li>

  <li class="ml-2 flex items-center">
    <mat-icon class="text-secondary">check</mat-icon>
    <strong>Gestion du stress&nbsp;</strong>pour un meilleur équilibre hormonal
  </li>
  <li class="ml-2 flex items-center">
    <mat-icon class="text-secondary">check</mat-icon>
    Optimisation de la&nbsp;<strong>santé intestinale</strong>
  </li>
  <li class="ml-2 flex items-center">
    <mat-icon class="text-secondary">check</mat-icon>
    <strong>Supplémentation&nbsp;</strong>nutritionnelle
  </li>
</ul>

<p>Nous travaillerons ensemble pour vous aider à retrouver un meilleur équilibre et à vivre en harmonie avec la <strong>thyroïdite d'Hashimoto</strong>.</p>
  <div class="flex justify-center align-middle mt-10">
    <a  href="https://www.resalib.fr/praticien/80810-celine-chrabie-naturopathe-blain" target="_blank" class="button big">
      Je prends rendez-vous !</a>
    </div>
</section>
<section class="light-section pt-10">
  <h2>Quelques articles sur le sujet</h2>
  
  <div class="flex flex-col gap-5 lg:flex-row w-4/5 mx-auto mt-12 justify-between">
    <app-instagram-feed feed="C9E_mL7Iz_-"></app-instagram-feed>
    <app-instagram-feed feed="CxI7zwaqgNn"></app-instagram-feed>
    <app-instagram-feed feed="CuKGlhHKZA6"></app-instagram-feed>
  </div>
</section>
