<section class="white-section pt-10">
  <h2>Thyroïdite d’Hashimoto : Un accompagnement particulier</h2>
  <p>En complément d’un accompagnement médical adapté, la thyroïdite d’Hashimoto peut être accompagnée de manière
    naturelle notamment grâce à quelques bons réflexes en matière d’hygiène de vie</p>
  <div class="flex justify-center">
    <a [routerLink]="['/contact']" class="button">
      Je prends rendez-vous !</a>
  </div>
</section>
<section class="light-section">
  <h3 class="mt-0">La glande thyroïde, c’est quoi ?</h3>
  <p>La glande thyroïde est le chef d’orchestre d’un grand nombre de mécanismes du corps comme la température
    corporelle, la digestion, la croissance…</p>

  <p>Elle se situe sous la pomme d’Adam dans notre gorge et mesure environ 6 cm et pèse 10 à 25 grammes environ. Souvent
    comparée à un papillon, elle est palpable par notre médecin tant elle est près de la peau. Elle sécrète des hormones
    dites thyroïdiennes.</p>

  <p>Très sensible, notamment, aux perturbateurs endocriniens, si elle fonctionne peu, mal ou pas du tout, un grand
    nombre de troubles apparaissent (fatigue, frilosité déprime, peau sèche, chute des cheveux, ongles cassants, trous
    de mémoire, prise ou perte de poids inexpliqués, baisse de libido…), la liste est longue.</p>
</section>
<section class="white-section">
  <h3 class="mt-0">Qu’est-ce que la thyroïdite d’Hashimoto ?</h3>
  <p>Une thyroïdite désigne une inflammation de la glande thyroïde qui survient lorsque le système immunitaire réagit à
    une agression externe ou interne. On dit que c’est une maladie auto-immune. Le système immunitaire ne reconnaît plus
    la glande comme un organe ami et envoie ses petits soldats appelés anti-corps pour éliminer le danger.</p>
  <p>Si rien n’est fait pour arrêter l’attaque, la glande s’épuise, produit de moins en moins d’hormones c’est
    l’hypothyroïdie. Il faut alors impérativement remplacer les hormones naturelles par des hormones de substitution
    toute la vie durant car nous ne pouvons pas vivre sans elles. Plus d’un million de personnes en France souffrirait
    de cette thyroïdite et plus de 6 millions d’un dysfonctionnement de la thyroïde.
  </p>
</section>
<section class="light-section">
  <h3 class="mt-0">Comment agir de manière naturelle pour la protéger ?</h3>
  <p>Selon Barbara Demeneix, chercheuse et médecin, tout problème de la thyroïde commence par une carence en iode.</p>
  <h4>Revoir son votre alimentation</h4>
  <p>Pas d’iode, pas d’hormones. Si vous ne consommez jamais de produits de la mer, vous êtes probablement carencés.</p>
  <p>Le sel iodé, bien qu’intéressant, n’est pas suffisant, l’iode étant très volatile. Il est donc recommandé</p>
  <ul>
    <li>D’augmenter les aliments riches en oligo-éléments, vitamines, minéraux, protéines animales et végétales pour
      éviter les carences en fer, B12, zinc, magnésium, sélénium.
    </li>
    <li>De diminuer les aliments goitrogènes (choux, radis, navets…) Un goitre est un gonflement de la glande.</li>
    <li>D’éviter au maximum les gros poissons type saumon et thon qui sont saturés de métaux lourds (mercure, plomb…)
      très néfastes pour la glande thyroïde.
    </li>
  </ul>

  <h4>Améliorer son environnement</h4>

  <ul>
    <li>Eliminer le plus de perturbateurs endocriniens possible</li>
    <li>Remplacer les produits d’entretien par des produits faits maisons</li>
    <li>Faire le tri dans les cosmétiques et teintures pour cheveux</li>
    <li>Aérer tous les jours les intérieurs, le lieu de travail, la voiture</li>
    <li>Ne pas se promener pendant les épandages de pesticides et insecticides</li>
    <li>Eviter les spray anti-insectes, fourmis, les parfums d’intérieur</li>
    <li>Etc...</li>
  </ul>

  <h4>Privilégier la sérénité avant tout.</h4>

  <p>Evacuer, tant que faire se peut, le stress, les tensions, les angoisses en pratiquant des exercices de relaxation
    (sophrologie, yoga, cohérence cardiaque…).</p>

  <h4>Favoriser un sommeil réparateur.</h4>

  <ul>
    <li>Baisser le thermostat à 18 degrés</li>
    <li>Investir dans un bon matelas (non toxique)</li>
    <li>Eviter de faire des repas trop copieux et indigestes le soir
    </li>
    <li>Couper les écrans assez tôt surtout chez les enfants et les adolescents</li>
    <li>Se préparer au coucher par une douche, un massage, une lecture, des galipettes…
    </li>
  </ul>

  <h4>Se détoxiquer.</h4>

  <p>Connaissez-vous la “Chelation” (prononcez “kélation”) ? Un procédé visant à désintoxiquer l’organisme en liant les
    toxiques puis à les éliminer par voie urinaire. Il existe des aliments chélateurs (coriandre, chlorella, curcumine,
    oignons, ail, noix du Brésil) et certains laboratoires proposent des compléments contenant des chélateurs.</p>

  <h4>Faire de l’exercice dans la nature le plus souvent possible.</h4>

  <p>L’exercice régulièrement (30 minutes 2 à 3 fois par semaine) dans la nature permet d’oxygéner le sang et les
    cellules mais aussi d’éliminer les toxines et de drainer l’organisme grâce à la transpiration.</p>
</section>
<div class="flex justify-center">
  <a [routerLink]="['/contact']" class="button big">
    Je prends rendez-vous !</a>
</div>
