@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/button";
@import "styles/headers";
@import "styles/section";
@import "styles/spacer";
@import "styles/theme";


html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  overflow: hidden;
  @include spacer();
}

* {
  @apply text-gray-600;
}
