.sticky {
  @screen lg {
    position: sticky;
    top: 120px;
    align-self: baseline;
  }
}

.card-wrapper {
  @apply w-4/5 z-20 mx-auto grid gap-12 grid-cols-1 justify-center relative;

  li {
    @apply justify-self-center
  }

  h2 {
    @apply col-span-1;
  }

  @screen lg {
    @apply justify-between grid-cols-3 ;

    h2 {
      @apply col-span-3;
    }
  }
}
