.sticky {
  @screen lg {
    position: sticky;
    top: 120px;
    align-self: baseline;
  }
}

.card-wrapper {
  @apply w-4/5 z-20 mx-auto grid gap-12 grid-cols-1 justify-center relative;

  li {
    @apply justify-self-center
  }

  h2 {
    @apply col-span-1;
  }

  @screen lg {
    @apply justify-between grid-cols-3 ;

    h2 {
      @apply col-span-3;
    }
  }
}

.mini-card {
  @apply max-w-md p-6 bg-white rounded-lg shadow-2xl flex flex-col items-center bg-secondary-lighter justify-self-center;

  &:hover {
    @apply bg-secondary-light
  }

  @screen lg {
    @apply max-w-xs;
  }

  &-svg {
    @apply text-5xl w-10 h-10 mb-2 text-secondary #{!important};
  }

  &-content {
    @apply mb-3 font-normal;
  }
}
