<app-layout>
  Je vous offre mon expertise sur <strong>Blain</strong> ou en <strong>visio</strong> pour <strong>améliorer pas à pas votre bien-être</strong> 
  face aux problèmes <strong>thyroïdiens</strong>, tels que <strong>fatigue</strong>, <strong>stress</strong>, 
  <strong>prise de poids</strong>, <strong>douleurs</strong>, et <strong>troubles du transit</strong>.
</app-layout>
<section class="white-section">
  <ul class="card-wrapper -mt-8">
    <li>
      <app-mini-card link="/a-propos" title="A propos de moi" icon="person">
        Je suis <strong class="text-primary">Céline naturopathe</strong>. J'exerce sur
        <strong class="text-primary">Blain</strong> et en <strong class="text-primary">visio</strong>. <br>
        Je vous accompagne pour retrouver un <strong class="text-primary">confort de vie</strong> en optimisant
      </app-mini-card>
    </li>
    <li>
      <app-mini-card link="/hypothyroidie" title="Hypothyroïdie" icon="thyroide">
        Que vous soyez avec ou sans 
        <strong class="text-primary">traitement</strong>, 
        que vous ayez subi ou non une <strong class="text-primary">ablation</strong> 
        de la thyroïde, je peux vous orienter vers le chemin du <strong class="text-primary">mieux-être</strong>.
      </app-mini-card>
    </li>
    <li>
      <app-mini-card link="/hashimoto" title="Hashimoto" icon="immunology">
        Si vous avez déclaré la maladie d'<strong class="text-primary">Hashimoto</strong>, 
        je peux vous accompagner vers une régulation de votre <strong class="text-primary">système immunitaire</strong> 
        et une diminution de l'<strong class="text-primary">inflammation</strong>.
      </app-mini-card>
    </li>
  </ul>
  <div class="flex justify-center items-center mt-20">
    <a class="button" href="https://www.resalib.fr/praticien/80810-celine-chrabie-naturopathe-blain" target="_blank">Je prends un rendez-vous</a>
  </div>
  <div class="block-promo mt-10">
    <img class="block-promo--img" src="assets/img/e-book.png" alt="" />
    <div class="block-promo--txt">
      <p class="text-2xl sm:text-3xl font-semibold">Découvrez mes guides pratiques pour mieux comprendre et gérer vos troubles thyroïdiens.</p>
      <a class="button" routerLink="/e-books">Voir mes e-books</a>
    </div>
  </div>
</section>
<section class="light-section">
  <article class="!py-0 w-4/5 mx-auto">
    <h2 >Témoignages</h2>

    <h3 class="relative mb-10 mt-0 pt-10">Des résultats concrets</h3>
    
    <p *ngIf="rating !== null && totalReviews !== null"><strong>Note Google :</strong> {{ rating }} / 5 ({{ totalReviews }} avis)</p>
    
    <ul class="card-wrapper">
      <li>
        <app-mini-card icon="fatigue" title="Diminution de la fatigue">
          <q>Je n'ai plus ce <strong>sentiment de fatigue</strong> que j'avais les après-midi.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="poids" title="Perte de poids">
          <q>Je commence enfin à <strong>perdre mes kilos en trop</strong>.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="transit" title="Amélioration du transit">
          <q>Je n'ai plus de <strong>balonnements</strong>, je vais à la selle tous les jours sans difficultés.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="douleur" title="Diminution des douleurs">
          <q>C'est vrai que mes <strong>douleurs musculaires</strong> se sont fortement atténuées.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="energie" title="Plus d'énergie">
          <q>J'ai l'impression d'avoir<strong> retrouvé mes vingt ans</strong>.</q>
        </app-mini-card>
      </li>
      <li>
        <app-mini-card icon="stress" title="Diminution du stress">
          <q>J'arrive à plus relativiser, je me sens <strong>moins anxieuse</strong>.</q>
        </app-mini-card>
      </li>
    </ul>
  </article>

  <article class="!py-0 w-4/5 mx-auto">
  <h3 class="relative mb-10 mt-20 pt-10">Les avis de mes consultants</h3>

  </article>
  <ul class="card-wrapper flex-wrap !gap-y-24 list-inside mt-24">
    <li>
      <app-temoignage [stars]="5" name="Stéphanie L.">
        <p class="flex space-x-3 px-8">
          Accompagnement professionnel et bienveillant: les conseils d'hygiène de vie sont faciles à mettre en place car basés sur un rééquilibrage alimentaire en fonction des résultats du bilan sanguin.
        </p>
        <p class="flex space-x-3 px-8">
          Dès les 1ères semaines, j'ai pu constater une amélioration au niveau digestif et moins de fatigue.
        </p>
        <p class="flex space-x-3 px-8">
          Celine est vraiment très compétente 👌🏼
        </p>
        <p class="flex space-x-3 px-8">
          Merci pour votre accompagnement !
        </p>
        <p class="flex space-x-3 px-8">
          Je recommande !
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Virginie S.">
        <p class="flex space-x-3 px-8">
          Céline m'a accueilli avec un sourire et une douceur qui font du bien. Elle m'a expliqué avec des mots simples et des schémas pourquoi mon mon corps réagissait de cette façon et ce qui devait être mis en place, des habitudes simples mais que je ne connaissait pas.
        </p>
        <p class="flex space-x-3 px-8">
          Une aide précieuse à ce moment de vie.
        </p>
        <p class="flex space-x-3 px-8">
          Merci.
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Angélique B.">
        <p class="flex space-x-3 px-8">
          Nous avons contacté Céline pour un problème insoluble qui pouvait être lié à la maladie d'Hashimoto. Très à l'écoute, claire dans ses explications et bienveillante elle a trouvé la solution alors que les médecins ne trouvaient pas depuis un an et demi. Merci infiniment !
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Sonia B.">
        <p class="flex space-x-3 px-8">
          Merci pour cet accompagnement très fin qui s'accompagne dès les premières semaines d'une amélioration spectaculaire de mon état de santé.
        </p>
        <p class="flex space-x-3 px-8">
          Vous savez à la fois écouter, encourager, mais aussi adapter vos conseils en toute bienveillance. Je ne peux que vous recommander auprès des personnes souffrant entre autres de troubles de la thyroide dont peu de spécialistes atteignent vos résultats.
        </p>
        <p class="flex space-x-3 px-8">
          Merci encore
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Maylis B.">
        <p class="flex space-x-3 px-8">
         Je conseille vivement, toujours de très bon conseil très professionnelle, c’est une personne qui est très à l’écoute et disponible. On voit qu’elle aime et qu’elle connaît son métier. C’est une vrai « belle personne ». Encore merci de m’accompagner.
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Maryne D.">
        <p class="flex space-x-3 px-8">
          J'ai trouvé Céline grâce à son compte Instagram &#64;bien_avec_sa_thyroide_ (une source d'informations) lors de mon parcours de diagnostic d'Hashimoto. C'est la première professionnelle que j'ai rencontré qui m'a expliqué avec pédagogie et bienveillance ce que j'avais. J'ai enfin eu une réelle écoute et des réponses claires à mes interrogations.
        </p>
        <p class="flex space-x-3 px-8">
          Son accompagnement m'a guidé pour déchiffrer les différents signaux d'alerte de mon corps. Sous ses conseils, la mise en place de nouvelles habitudes alimentaires et d'hygiène de vie m'ont permis d'aller vraiment mieux et de faire taire un bon nombre de mes symptômes.
        </p>
        <p class="flex space-x-3 px-8">
          Je suis vraiment satisfaite d'avoir rencontré Céline, naturopathe spécialisée dans les pathologies de la thyroïde.
        </p>
        <p class="flex space-x-3 px-8">
          Plus largement, la naturopathie m'a apporté une nouvelle grille de lecture et des nouveaux outils pour mieux connaître mon corps et mieux me connaître. Merci.
        </p>
      </app-temoignage>
    </li>
  </ul>
</section>
<section class="w-4/5 mx-auto">
  <h2>Mes derniers articles</h2>
  <div class="flex flex-col gap-5 lg:flex-row w-4/5 mx-auto mt-12 justify-between">
    <app-instagram-feed feed="DO0xuUwCDu7"></app-instagram-feed>
    <app-instagram-feed feed="DOQ54W5iE0-"></app-instagram-feed>
    <app-instagram-feed feed="DOJL7OfiPun"></app-instagram-feed>
  </div>
</section>

