.custom-header {
  @apply font-bold text-2xl mb-12 pl-12 pl-10 text-gray-900;
}

article {
  @apply flex justify-center items-center p-0 flex-col;

  @screen lg {
    @apply p-10 grid grid-cols-2;
  }
}

mat-card {
  max-width: 400px;
  width: 80%;
  margin: 0 10%;

  .mat-card-subtitle {
    color: rgba(75, 75, 73, 0.85);
    font-weight: 500;
  }

  mat-icon {
    width: 40px;
    height: 40px;
  }

  mat-card-content p {
    @apply py-2;
  }
}

.sticky {
  @screen lg {
    position: sticky;
    top: 120px;
    align-self: baseline;
    margin: 0;
  }
}
