<app-layout>
  Je vous offre mon expertise sur <strong>Blain</strong> ou en <strong>visio</strong> pour <strong>améliorer pas à pas votre bien-être</strong> 
  face aux problèmes <strong>thyroïdiens</strong>, tels que <strong>fatigue</strong>, <strong>stress</strong>, 
  <strong>prise de poids</strong>, <strong>douleurs</strong>, et <strong>troubles du transit</strong>.
</app-layout>
<section class="white-section">
  <ul class="card-wrapper -mt-8">
    <li>
      <app-mini-card link="/a-propos" title="A propos de moi" icon="person">
        Je suis <strong class="text-primary">Céline naturopathe</strong>. J'exerce sur
        <strong class="text-primary">Blain</strong> et en <strong class="text-primary">visio</strong>. <br>
        Je vous accompagne pour retrouver un <strong class="text-primary">confort de vie</strong> en optimisant
      </app-mini-card>
    </li>
    <li>
      <app-mini-card link="/hypothyroidie" title="Hypothyroïdie" icon="thyroide">
        Que vous soyez avec ou sans 
        <strong class="text-primary">traitement</strong>, 
        que vous ayez subi ou non une <strong class="text-primary">ablation</strong> 
        de la thyroïde, je peux vous orienter vers le chemin du <strong class="text-primary">mieux-être</strong>.
      </app-mini-card>
    </li>
    <li>
      <app-mini-card link="/hashimoto" title="Hashimoto" icon="immunology">
        Si vous avez déclaré la maladie d'<strong class="text-primary">Hashimoto</strong>, 
        je peux vous accompagner vers une régulation de votre <strong class="text-primary">système immunitaire</strong> 
        et une diminution de l'<strong class="text-primary">inflammation</strong>.
      </app-mini-card>
    </li>
  </ul>
    <div class="flex justify-center items-center mt-20">
      <a class="button" routerLink="/contact">Je prends un rendez-vous</a>
    </div>
</section>
<section class="light-section">
  <h2 >Témoignages</h2>
  <ul class="card-wrapper flex-wrap !gap-y-24 list-inside mt-24">
    <li>
      <app-temoignage [stars]="5" name="Estelle D.">
        <p class="flex space-x-3 px-8">
          J'ai consulté Céline dans le cadre de mon Hashimoto. 
          Rencontre enrichissante, Céline est très pédagogue et donne de précieux conseils pour améliorer le quotidien. Entretien d'environ 2h durant lequel je me suis sentie enfin écoutée ! Maintenant il n'y a plus qu'à mettre en pratique les recommandations 😊😉.
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Chloe B.">
        <p class="flex space-x-3 px-8">
          Enfin une naturopathe qui connait vraiment la maladie d'Hashimoto. 
          Céline donne de nombreuses informations et des conseils précis pour améliorer les symptômes. 
          Grâce à elle je connais mieux ma pathologie et je sais enfin par où commencer pour aller mieux. Merci à toi
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Kim P.">
        <p class="flex space-x-3 px-8">
          Céline m'a appris plein de choses sur ma maladie. Elle m'a outillée pour optimiser le fonctionnement de mon corps sous Hashimoto.
          Il reste du travail mais je constate déjà du mieux grâce à ses conseils !
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Fanny L.">
        <p class="flex space-x-3 px-8">
          J'ai pu bénéficier d'une séance de naturopathie avec Céline concernant des problèmes que je rencontre suite à une opération de la thyroïde. 
          Elle a été très à l'écoute, m'a donné de nombreux conseils à adopter concernant mon hygiène de vie ou mon alimentation, 
          que je met en pratique dorénavant. Elle m'a envoyé par la suite un support sur lequel je peux m'appuyer à tout moment sur 
          les conseils donnés pendant la consultation.
        </p>
        <p class="flex space-x-3 px-8">
          J'en suis pour le moment très satisfaite, je recommande d'aller consulter Céline pour tout problème portant sur la thyroïde. 
          Elle est vraiment très pro et cela se voit qu'elle sait de quoi elle parle !
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Valerie D.">
        <p class="flex space-x-3 px-8">
          J’ai eu mon premier rdv avec Céline y a 10 jours .
        </p>
        <p class="flex space-x-3 px-8">
          Je suis hashimoto et depuis quelques temps beaucoup de symptômes réapparaissent surtout prise de poids 😢
        </p>
        <p class="flex space-x-3 px-8">
          Céline est une excellente naturopathe très à l’écoute, bienveillante et qui sait cerner les problèmes.
        </p>
        <p class="flex space-x-3 px-8">
          J'ai reçu mon bilan personnalisé très bien détaillé et très clair 😊
        </p>
        <p class="flex space-x-3 px-8">
          Je vous la conseille
        </p>
        <p class="flex space-x-3 px-8">
          Ça fait du bien de trouver une personne professionnelle et qui connaît les problèmes de thyroïde
        </p>
        <p class="flex space-x-3 px-8">
          Merci Céline 🙏🏻
        </p>
      </app-temoignage>
    </li>
    <li>
      <app-temoignage [stars]="5" name="Maryne D.">
        <p class="flex space-x-3 px-8">
          J'ai consulté Céline Chrabie en visio après s'être rencontrés sur Facebook et j'ai eu une super approche... Les soucis thyroïdien étant tellement complexes.. Suite à cette consultation où j'ai mieux compris certaines choses avec des mots simples, je vais essayer maintenant de mettre en pratique des adaptations à mon alimentation. En tous cas merci beaucoup pour cette première consultation, vous avez l'air se maîtriser votre spécialité dans la naturopathie qui est très vaste ! Je recommande donc sans soucis cette professionnelle ! 🙂
        </p>
      </app-temoignage>
    </li>
  </ul>
</section>
<section class="w-4/5 mx-auto">
  <h2 >Mes derniers articles</h2>
  <div class="flex flex-col gap-5 lg:flex-row w-4/5 mx-auto mt-12 justify-between">
    <app-instagram-feed feed="C4SiY3coba7"></app-instagram-feed>
    <app-instagram-feed feed="C4LQSebIfg1"></app-instagram-feed>
    <app-instagram-feed feed="C3nZ_cqoSxO"></app-instagram-feed>
  </div>
</section>
