<section class="grid w-11/12 mx-auto lg:grid-cols-2 lg:grid-rows-1 grid-rows-[auto_auto] my-10 gap-10 items-start pb-0">
  <nav class="breadcrumbs">
    <ul>
      <li>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li>
        <a routerLink="/e-books">
          <span class="sr-only">Revenir à la liste de</span> E-books
        </a>
      </li>
      <li>Hashimoto - Comment dompter la maladie</li>
    </ul>
  </nav>
  <article class="grid gap-4 md:grid-cols-[auto_1fr] lg:sticky top-10">
    <div class="overflow-auto order-2 md:order-none md:max-h-[30rem]">
      <fieldset class="flex md:flex-col px-4 justify-center w-max">
        @for ( image of images; track image.id) {
          <div>
            <input (click)="selectedImage = image"
                  [id]="'radio-' + image.id"
                  name="radio"
                  type="radio"
            >
            <label [for]="'radio-' + image.id">
              <img width="60px" height="60px" [alt]="image.alt" [src]="'/assets/e-book/' + image.thumb" class="w-20 h-20 rounded" loading="lazy">
            </label>
          </div>
        }
      </fieldset>

    </div>
    <input
      [alt]="selectedImage.alt"
      [src]="'/assets/e-book/' + selectedImage.path"
      class="w-full h-fit rounded-lg max-w-[30rem] mx-auto"
      loading="lazy"
      type="image"/>
  </article>
  <article class="flex flex-col gap-y-4 sticky top-10">
    <h2 class="w-fit inline-block !mx-0 place-self-center">Hashimoto - Comment dompter la maladie</h2>
    <p class="text-sm mb-0"><strong>Type : </strong> Ebook </p>
    <p class="text-sm mt-0"><strong>Tarif : </strong> 29,90 € </p>

    <p> Tu retrouveras :</p>

    <ul>
      <li>❇️ Des indications pour équilibrer ton assiette</li>
      <li>❇️ Les aliments à consommer en PRIORITÉ et ceux à éviter</li>
      <li>❇️ Des recettes gourmandes et faciles à réaliser</li>
      <li>❇️ L'astuce INDISPENSABLE pour améliorer ton bien être rapidement</li>
      <li>❇️ Un test pour savoir si tu souffres d'intestin poreux</li>
    </ul>

    <p>Et.... en BONUS</p>

    <ul>
      <li>✅ Les compléments alimentaires NÉCESSAIRES pour équilibrer ta thyroïde</li>
    </ul>

    <p>Si tu souhaites</p>

    <ul>
      <li>✨ Améliorer ton bien être</li>
      <li>✨ Soutenir ta digestion</li>
      <li>✨ Perdre du poids</li>
      <li>✨ Diminuer la fatigue</li>
      <li>✨ Optimiser ton sommeil</li>
      <li>✨ Atténuer tes douleurs</li>
      <li class="mt-3">Ou tout simplement… Prendre soin de ton corps 🌟</li>
    </ul>

    <p>Ce e-book est fait pour <span class="font-bold text-primary text-xl">toi !</span></p>


    <iframe titre="Module d'achat du e-book" src="https://www.payfacile.com/celine-naturopathe/si/hashimoto-le-guide-alimentaire" frameBorder="no" width="100%" height="700px" scrolling="no" ></iframe>
  </article>
</section>
