<nav>
  <h1>
    <a class="no-style" aria-label="Retour à la page d'accueil" routerLink="/">
      <img alt="Céline CHRABIE Naturopathe" class="w-10 md:w-14 lg:w-18" width="60px" height="60px" src="assets/img/logo.png">
    </a>
  </h1>
  <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/e-book']" routerLinkActive="active">Commande ton e-book</a>

  <ul class="hidden lg:grid list-none nav-list">
    @for (link of links; track link.name) {
      <li>
        <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="[link.type]"
          routerLinkActive="active">{{link.name}}</a>
      </li>
    }
  </ul>

  <button *ngIf="links.length" [matMenuTriggerFor]="menu" aria-label="Menu"
          class="block lg:hidden justify-self-end rounded-full p-2 h-10">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
     @for (link of links; track link.name) {
      <button mat-menu-item routerLinkActive="active" [routerLink]="[link.type]">
        {{link.name}}
      </button>
    }
  </mat-menu>
</nav>
