@use 'src/styles/breakpoint';

nav {
  display: grid;
  grid-gap: var(--spacer-5);
  grid-template-columns: minmax(40px, auto) 1fr;
  padding: var(--spacer-2) var(--spacer-4);
  margin: 0;
  align-items: center;
  background-color: white;

  .nav-list {
    justify-self: flex-end;
    gap: var(--spacer-4);
    grid-template-columns: repeat(6, auto);
    margin: 0;

    a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: var(--spacer-3);
        right: var(--spacer-3);
        height: 2px;
        background: var(--primary-light30-color);
      }

      &:hover, &.active {
        font-weight: 700;
        text-decoration: none;

        &:after {
          height: 4px;
        }
      }
    }
  }
}
