<nav>
  <h1>
    <a routerLink="/" aria-label="Retour à la page d'accueil">
      <img src="assets/img/logo.png" alt="Céline CHRABIE Naturopathe" class="w-10 md:w-14 lg:w-18">
    </a>
  </h1>
  <a routerLink="/e-book" class="button whitespace-nowrap">E-book</a>

  <ul class="hidden lg:grid list-none nav-list">
    <li *ngFor="let link of links">
      <a [routerLink]="[link.type]" routerLinkActive="active">{{link.name}}</a>
    </li>
  </ul>

  <button *ngIf="links.length" class="block lg:hidden justify-self-end rounded-full p-2 h-10" [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let link of links" mat-menu-item routerLinkActive="active">
      <a [routerLink]="[link.type]">{{link.name}}</a>
    </button>
  </mat-menu>
</nav>
